ion-searchbar{
    --box-shadow: none !important;
    border-bottom: 0.25px lightgray inset;
    border-color: lightgrey !important;

}
.toolbar-title {
    text-overflow: inherit;
    white-space: normal;
 }
 ion-toolbar{
    --background: #465DEF !important;
  }